<?xml version="1.0"?>
<model>
  <name>Iris with depth camera</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
   <name>ARRL</name>
   <email>ARRL@ajou.ac.kr</email>
  </author>

  <description>
    This is a model of an Iris quadrotor with two depth cameras.
    The original model has been created by Thomas Gubler and is maintained by Lorenz Meier.
  </description>
</model>